[Unit]
Description=aw-yea-bot
After=network.target
[Service]
ExecStart=/var/www/aw-yea-bot/aw-yea-responder.js
Restart=always
User=noderunner
Group=robots
Environment=PATH=/usr/bin:/usr/local/bin
WorkingDirectory=/var/www/aw-yea-bot
[Install]
WantedBy=multi-user.target
